// Device widths for responsive
$width-small: 600px;
$width-medium: 1000px;
$width-large: 1600px;

// Color palette
$black-color: #2d3436;
$dark-grey-color: #636e72;
$light-grey-color: #dfe6e9;
$white-color: #ffffff;
$off-white-color: #f5f6fa;
$red-color: #d63031;
$yellow-color: #fdcb6e;
$green-color: #00b894;
$blue-color: #0984e3;
$dark-blue-color: #192a56;

// Shadows
$black-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
$white-shadow: 0 3px 5px rgba(228, 228, 241, 0.955);

// Transitions
$default-transition: .3s ease-in-out;