@import '../App.scss';

.movie-detail {
  & img {
    height: 20rem;
    width: 14rem;
    object-fit: cover;
  }
  & .tagline {
    color: $yellow-color;
  }
  & strong {
    text-decoration: underline;
    color: $yellow-color;
  }
}