@import '../../../App.scss';

.card {
  width: 30vw;
  margin: .75rem;
  color: $black-color;
}

.card-body p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nasa-movies-section .card img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.nasa-movies-section .card {
  height: 50rem;
}